.App {
  background-color: #676a70;
  min-width: 100vw;
  min-height: 100vh;
}

.App-header {
  background-color: #a1a6b4;
  height: 8vh;
  min-width: 100vw;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: black;
  margin-top: 2em;
}
